.bandit {
    clear: both;
}

.bandit ul {
    float: left;
    position: relative;
    border: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.bandit ul li {
    position: absolute;
    left: 0;
    display: block;
    z-index: 99;
    padding: 0;
    margin: 0;
}

.bandit ul.previous li {
    top: 100px;
}

.bandit ul li.active {
    top: 0;
}

.bandit .pager {
    position: absolute;
    z-index: 9999;
    right: 5px;
    height: 130px;
    width: 10px;
}

.bandit .pager a {
    font-size: 10px;
    background-color: #2FB7E6;
    color: white;
    border-radius: 2px;
    padding: 0;
    margin: 3px 0 0;
    display: block;
    float: right;
    text-decoration: none;
    width: 8px;
    height: 8px;
    text-align: center;
    text-indent: -99999px;
}
img {
    border: none;
}
.bandit .pager a.active {
    background: red;
}